# ==============================================================================
# Portainer - LXC Configuration
# ==============================================================================

# Container
CT_ID="your-ct-id"
CT_NAME="portainer"
CT_IP="your-ct-ip"
CT_MEMORY="1024"
CT_CORES="1"
CT_DISK="8"
CT_BRIDGE="vmbr0"
